$color-white: white;
$color-primary: #4cc4ff;
$color-secondary: #adf3ff;
$color-purple: #6a4dff;
$color-purple-lightShade: #353149;
$color-purple-darkShade: #1f1e24;
$color-grey: #777;
$color-grey-dark:#151519;
