body {
    font-family: "Montserrat", sans-serif;
    // font-family: 'EB Garamond', serif;
    // font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-white;
    
}

.heading__primary {
    color: $color-white;
    text-transform: uppercase;
    
  
    &-main {
      display: block;
      font-weight: 400;
      font-size: 60px;
      letter-spacing: 35px;
      text-align: center;
  
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  
    &-sub {
      display: block;
      font-size: 35px;
      font-weight: 700px;
      letter-spacing: 30px;
      text-align: justify;
  
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }
  

  h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }