.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -30%);
    text-align: justify;
    z-index: 25;
}


.aboutUs {
    
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box2"
    "box1 box2 box2";


}

.projects {
    background-color: #151519;
    border-radius: 20px;
    margin:70px 140px;
    // border: 5px solid red;
    height: 80vh;
    color: white;
   
}

.projects-boxes {
    height: 80vh;
    margin: 50px 60px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr;
    grid-template-areas: "b1 b4  "
    "b2 b4 "
    "b3 b3 " ;
}
 
.box {
    margin: 10px 20px;
    padding: 30px 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);

    &-img {
        border-radius: 20000px;
        height: 50%;
        align-items: center;
    }
}
.b1 {
    
    transition: all .2s ease-out;

    &:hover {
        background-color: $color-purple;
    }
}

.b2 {
    transition: all .2s ease-out;
    &:hover {
        background-color: $color-purple;
    }
}

.b3 {
    transition: all .2s ease-out;
    &:hover {
        background-color: $color-purple;
    }
}

.b4 {
    transition: all .2s ease-out;
    &:hover {
        background-color: $color-purple;
    }
}

// .shake {
//     color: #4de4ff;
//   font-size: 25px;
//   font-weight: 700;

//   background-image: linear-gradient(to right, $color-primary, $color-secondary);
//   background-clip: text;
//   -webkit-background-clip: text;
//   color: transparent;
//   transition: all 0.2s;
//   display: inline-block;
// }
// .shake:hover  {
//     animation: shake 0.5s;
//     animation-iteration-count: infinite;
// }


  