.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -30%);
    text-align: justify;
    z-index: 25;
}


.aboutUs {
    
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box2"
    "box1 box2 box2";
}




.coordinators{
    height: 100vh;
    margin-top: 50px;
    
    &__container{

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        margin: 30px;
    }

    p {
        text-align: center;
        text-justify: auto;
        padding: 10px 80px;
    }
    &__box {
        
        width: 300px;
        box-shadow: 2px 2px 30px rgba($color-white,0.1);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        margin-top: 30px;

        &-image {
            height: 450px;

            img {
                width: 300px;
                height: auto;
                object-fit: cover;
                box-sizing: border-box;
            }
        }
    }    
}

ul {
    list-style-type: none;
}



.type {
    
    a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 20px;
        margin-top: 50px;
        text-transform: uppercase;
    }

    span {
        font-weight: 700;
        color: cadetblue;
    }
}
.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 400;
    background-color: rgba(0, 97, 161, 0.568);

    
}
.linkedIn{
    
    color: white;
    align-items: center;
    border-radius: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;
    

    &-link {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 25px;
    }
    
    
    
    
    img {
          height: 40px;
          top: 50%;
          left: 20%;
          transform: translate(10px,10px);
          
      }
  }

.type {
    display: flex;
    flex-direction: column;
}



  